---
title: 'Contact us at Greenburrow'
layout: base.njk
---

<section class="contact-form-section">
	<div class="container">
		<div class="contact-card hidden">
			<!-- <i class="fa-solid fa-phone"></i> -->

			<h3 class="heading">Contact us</h3>
			<p class="text">Sow Clean, Reap Green</p>

			<div class="phone-wrap">
				<i class="fa-solid fa-phone"></i>
				<a href="tel:+2347085865214">+2347085865214</a>
			</div>

			<div class="email-wrap">
				<p class="email">
					<i class="fa-solid fa-envelope"></i>
					<a href="mailto:info@greenburrowltd.com"> info@greenburrowltd.com</a>
				</p>
			</div>

			<div class="address-wrap">
				<p class="address">
					<i class="fa-solid fa-location-dot"></i> Uncle Joe (Skodak House)
					<br />
					#27, Oyo Road, Mokola, Ibadan 200285, Oyo State - Nigeria.
				</p>
			</div>
		</div>

		<form name="contact" netlify class="contact-form hidden">
			<h3 class="title hidden">Send us a message</h3>

			<p class="hidden">
				<input type="text" name="name" placeholder="Name" />
			</p>
			<p class="hidden">
				<input type="email" name="email" placeholder="Email address" />
			</p>
			<p class="hidden">
				<input type="text" name="phone" placeholder="Phone Number" />
			</p>
			<p class="hidden">
				<textarea name="message" placeholder="Message" id="message"></textarea>
			</p>
			<p class="hidden">
				<button type="submit">Send</button>
			</p>
		</form>
	</div>
</section>
