---
title: 'Contact us at Greenburrow'
layout: base.njk
---

<section class="contact-form-section">
	<div class="container">
		<div class="contact-card">
			<i class="fa-solid fa-phone"></i>

			<h3 class="heading">Call us</h3>
			<p class="text">Mon - Fri from 8am - 5pm</p>

			<a href="tel:+">08100784622</a>
		</div>

		<form name="contact" netlify class="contact-form">
			<h3 class="title">Send us a message</h3>
			<p>
				<input type="text" name="name" placeholder="Name" />
			</p>
			<p>
				<input type="email" name="email" placeholder="Email address" />
			</p>
			<p>
				<input type="text" name="phone" placeholder="Phone Number" />
			</p>
			<p>
				<textarea name="message" placeholder="Message" id="message"></textarea>
			</p>
			<p>
				<button type="submit">Send</button>
			</p>
		</form>
	</div>
</section>
