---
title: 'Welcome to Greenburrow Limited'
layout: base.njk
permalink: /
---

<main class="hero-section">
	<div class="animate-text-wrap">
		<h2 class="starting-text hidden">RESILIENT</h2>

		<h2 class="resilient text-hidden hidden">RESILIENT</h2>

		<h2 class="sustainable text-hidden hidden">SUSTAINABLE</h2>

		<h2 class="future hidden">FUTURE</h2>
	</div>

	<div class="container">
		<h1 class="masthead hidden">
			We are fostering a resilient and sustainable future
		</h1>

		<p class="sub-text hidden">
			Anchored in our unyielding commitment to environmental protection and food
			security, we aim to cultivate a harmonious equilibrium between nature and
			nourishment
		</p>

		<div class="btn-wrap hidden">
			<a href="/pgs/about" class="btn">Learn more</a>
			<a href="/pgs/contact" class="btn">Contact us</a>
		</div>
	</div>

	<div class="img-container hidden">
		<div class="img-card"></div>
	</div>
</main>

<!-- second layout -->
<section class="layout2">
	<div class="container">
		<h3 class="heading hidden">We are nurturing an eco-friendly world.</h3>

		<p class="sub-text hidden">
			We are at the intersection of Agriculture and Environmental Management to
			ensure that our collective future is secure both for us and future
			generations
		</p>
	</div>

	<div class="img-wrap hidden">
		<div class="img-card"></div>
	</div>
</section>
<!-- end of second layout -->

<!-- our services section -->
<section class="our-services-section" id="ourservices">
	<div class="container">
		<div class="text-container">
			<h3 class="heading hidden">Our services</h3>
		</div>

		<div class="card-wrap">
			<div class="card flexbox hidden">
				<div class="text-wrap">
					<i class="fa-solid fa-wheat-awn"></i>
					<h3 class="title">Agricultural services</h3>

					<ul class="text">
						<li>Farm Layout/Design</li>
						<li>Plant Breeding/Hybridization</li>
						<li>Agricultural Inputs Supplies</li>
						<li>Crop Protection Services</li>
						<li>Pre/Post Harvest Consultancies</li>
					</ul>
				</div>

				<div class="img-wrap"></div>
			</div>

			<div class="card grid-card-at-62em hidden">
				<div class="text-wrap">
					<i class="fa-solid fa-seedling"></i>
					<h3 class="title">Environmental management</h3>

					<ul class="text">
						<li>Environmental Monitoring</li>
						<li>Climate Change Innovation and Research</li>
						<li>Carbon Footprint Assessment</li>
						<li>Emissions Inventory</li>
						<li>Characterization</li>
						<li>Environmental Sensitivity Indexing and Mapping</li>
						<li>Toxicity Testing</li>
						<li>Environmental and Social Impact Assessment</li>
						<li>Renewable Energy</li>
					</ul>
				</div>

				<div class="img-wrap2"></div>
			</div>
		</div>
	</div>
</section>
<!-- end of our services section -->

<!-- our clients -->
<section class="clients-section">
	<div class="text-container">
		<h3 class="heading hidden">Our clients</h3>
	</div>

	<div class="container hidden">
		<div class="img-wrap">
			<img src="/assets/images/clients-logo/bacita.png" alt="" class="img" />

			<img src="/assets/images/clients-logo/bat-logo.png" alt="" class="img" />

			<img
				src="/assets/images/clients-logo/exxon-logo.png"
				alt=""
				class="img" />

			<img src="/assets/images/clients-logo/fiiro.png" alt="" class="img" />

			<img
				src="/assets/images/clients-logo/seplat-logo.png"
				alt=""
				class="img" />

			<img
				src="/assets/images/clients-logo/sunti-logo.png"
				alt=""
				class="img" />

			<img
				src="/assets/images/clients-logo/tomato-jos.png"
				alt=""
				class="img" />
		</div>
	</div>
</section>
