@import 'resets';

.about-third-section {
	background: $primary-color;
	margin-bottom: 5em;
	position: relative;
	z-index: 3;

	display: flex;

	.container {
		width: 90%;
		margin: 0 auto;

		padding: 2em;

		.text {
			@include poppinsRegularMixin();
			margin-bottom: 2em;
			color: $color-light;
		}

		.btn {
			cursor: pointer;
			background: transparent;
			border: 1px solid $color-light;
			@include poppinsRegularMixin();
			padding: 1em 2em;
			border-radius: 10px;
			color: $color-light;
		}
	}

	@media screen and (min-width: 43em) {
		width: 80%;
		margin: 0 auto;
		margin-bottom: 5em;
		border-radius: 20px;
	}

	@media screen and (min-width: 62em) {
		width: 70%;
		margin: 0 auto;
		margin-bottom: 10em;
		border-radius: 20px;
	}
}
