@import 'resets';

.footer {
	padding-bottom: 1em;

	.container {
		width: 90%;
		margin: 0 auto;
		margin-bottom: 1.8em;

		display: grid;
		gap: 2em;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			background: $primary-text-color;
			height: 1px;
			width: 100%;
			bottom: 110%;
		}

		.links-wrap {
			background: $primary-text-color;
			display: grid;
			gap: 2em;
			padding: 1em;
			border-radius: 10px;

			.list-item {
				a {
					color: $color-light;
				}
			}
		}

		.social-media {
			display: flex;
			gap: 2em;

			i {
				color: $primary-text-color;
				font-size: 1.5rem;
			}
		}

		@media screen and (min-width: 62em) {
			display: flex;
			justify-content: space-between;
			align-items: center;

			&::before {
				bottom: 200%;
			}

			.links-wrap {
				display: flex;
				justify-content: space-between;
				padding: unset;
				background: transparent;

				.list-item {
					a {
						color: $primary-text-color;
					}
				}
			}
		}
	}

	.copyright-wrap {
		width: 90%;
		margin: 0 auto;
		display: grid;
		gap: 1em;

		.office {
			display: grid;
			gap: 0.5em;

			.address {
				@include poppinsMediumMixin();
				color: $primary-color;
			}

			.text {
				line-height: 1.6;
				@include poppinsRegularMixin();
				font-size: 0.9rem;
			}
		}

		.text {
			line-height: 1.6;
			@include poppinsRegularMixin();
			font-size: 0.9rem;
			color: $secondary-text-color;
		}

		@media screen and (min-width: 43em) {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
		}
	}
}
