<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- fontawesome -->
		<script
			src="https://kit.fontawesome.com/8464da9b67.js"
			crossorigin="anonymous"></script>

		<!-- <link rel="stylesheet" href="/assets/main.css" /> -->

		<title>{{ title }}</title>
	</head>
	<body>
		<!-- header nav area -->
		<header class="header">
			<div class="nav-wrap">
				<div class="logo-wrap">
					<a href="/">
						<img
							src="/assets/images/greenburrow-logo-group.png"
							alt=""
							width="100px" />
					</a>
				</div>

				<nav class="navbar" id="mobile-nav">
					<ul class="nav-links">
						<li>
							<a href="/" class="link">Home</a>
						</li>
						<li>
							<a href="/pgs/about" class="link">Who we are</a>
						</li>
						<li>
							<a href="#ourservices" class="link">Our services</a>
						</li>
						<li>
							<a href="/pgs/contact" class="link">Contact</a>
						</li>
					</ul>
				</nav>

				<div class="burger-wrap">
					<buttom class="open-menu" id="open-menu">
						<i class="fa-solid fa-bars"></i>
					</buttom>

					<button class="close-menu" id="close-menu">
						<i class="fa-solid fa-xmark"></i>
					</button>
				</div>
			</div>
		</header>
		<!-- end of header nav area -->

		{{ content | safe }}

		<footer class="footer">
			<div class="container">
				<div class="icon-wrap">
					<img src="/assets/images/logo-icon.png" alt="" class="logo-icon" />
				</div>

				<ul class="links-wrap">
					<li class="list-item">
						<a href="/pgs/about">About us</a>
					</li>

					<li class="list-item">
						<a href="/pgs/terms">Terms of Use</a>
					</li>

					<li class="list-item">
						<a href="/pgs/contact">Contact</a>
					</li>
				</ul>

				<div class="social-media">
					<a href="https://twitter.com/greenburrowltd" target="_blank">
						<i class="fa-brands fa-x-twitter"></i>
					</a>

					<a href="https://www.instagram.com/greenburrowonline" target="_blank">
						<i class="fa-brands fa-instagram"></i>
					</a>

					<a href="" target="_blank">
						<i class="fa-brands fa-facebook"></i>
					</a>

					<a href="" target="_blank">
						<i class="fa-brands fa-linkedin-in"></i>
					</a>
				</div>
			</div>

			<div class="copyright-wrap">
				<div class="office">
					<p class="address">
						<i class="fa-solid fa-location-dot"></i> Office Address:
					</p>
					<p class="text">Sow Clean, Reap Green</p>
				</div>

				<p class="text">
					&copy;Copyright 2024. All rights reserved. Greenburrow Ltd
				</p>
			</div>
		</footer>

		<script src="/assets/main.js"></script>
	</body>
</html>
